@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.Token != null)
{
<div class="sidebar">
    <NavMenu />
</div>
}

<div class="main">
    <div class="top-row px-4">
        <div class="ml-md-auto" >
            <Connection/>
            <NavLink href="about">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>